@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
h1,h2,h3,h4,h5,h6,h7,h8,h9,ul{
	font-family: 'Righteous', cursive;
}
body{
	font-family: 'Quicksand', sans-serif;
}
.dautrang{
	background-color: grey;
	color: white;
	text-align: center;
	width: 100%;
}
.dautien{
	height: 700px;
	background-image: url("biajennie.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: left;
	padding: 250px 150px;
	color: white;
}
.phan-3{
	background-color: grey;
	color: white;
	text-align: left;
	width: 100%;
	padding: 100px 150px;
}
.phan-4{
 	padding: 20px;
	display: flex;
	align-items: center;
	background-color: white;
	color: black;
}
/*
.white{
	background: white;
	color: black;
	
}
.black{
	background: black;
	color: white;
}
.grey{
	background: grey;
	color: black;
}
*/
.phan-2{
	text-align: center;
	margin: 50px;
}
.phan-2 h1{
	padding-bottom: 50px;
}
.phan-2 img{
	height: 400px;
}
footer{
    background-color: black;
	display: flex;
	padding: 50px 200px;
    font-weight: 500;
    color: white;
}
.footer_title{
    font-size: 15px;
    color: white;
    margin-bottom: 8px;
    font-weight: 500;
}
.footer_link{
    padding: 25px 0;
	color: white;
	font-size: 15px;
    align-items: center;
}
.footer_link:hover{
    color: #C0C0C0;
}
footer i{
	color: white;
    margin: 5px;
}